<div class="container">
  <div class="row justify-content-around">
    <!-- Create form -->
    <div class="col-4">
      <h1 class="pt-3 col-3 w-100 text-center">Nueva Jornada</h1>
      <form
        class="pt-1 col-3 w-100"
        [formGroup]="editorJornadaForm"
        (submit)="onSubmit()"
      >
        <mat-form-field appearance="fill">
          <mat-label>Empleado</mat-label>
          <mat-select
            formControlName="empleado"
            (selectionChange)="onSelectionChange($event, 'empleado')"
          >
            <mat-option>Clear</mat-option>
            <mat-option
              *ngFor="let empleado of empleados$ | async"
              [value]="empleado"
            >
              {{ empleado.nombre }}
            </mat-option>
          </mat-select>
          <mat-hint>Seleccione un empleado de la lista.</mat-hint>
          <mat-error
            *ngIf="editorJornadaForm.get('tipoJornada')?.hasError('required')"
          >
            El empleado es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Jornada</mat-label>
          <mat-select
            formControlName="tipoJornada"
            (selectionChange)="onSelectionChange($event, 'tipoJornada')"
          >
            <mat-option>Clear</mat-option>
            <mat-option
              *ngFor="let tipo of tipoJornadas$ | async"
              [value]="tipo"
            >
              {{ tipo.nombre }}
            </mat-option>
          </mat-select>
          <mat-hint>Seleccione un tipo de la lista.</mat-hint>
          <mat-error
            *ngIf="editorJornadaForm.get('tipoJornada')?.hasError('required')"
          >
            El tipo de jornada es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fecha"
            (dateChange)="onSelectionChange($event, 'fecha')"
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="mb-3">
          <label for="txt" class="form-label">Hora de ingreso</label>
          <input type="time" formControlName="horaEntrada" />
        </div>
        <div class="mb-3">
          <label for="txt" class="form-label">Hora de salida</label>
          <input type="time" formControlName="horaSalida" />
        </div>

        <button type="submit" class="btn btn-success">Crear</button>
      </form>
    </div>

    <!-- Data Table -->
    <section class="col-7 mt-3">
      <table class="table w-100">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de jornada</th>
            <th scope="col">Fecha</th>
            <th scope="col">Entrada</th>
            <th scope="col">Salida</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jornada of jornadas$ | async">
            <td>{{ jornada.empleado.nombre }}</td>
            <td>{{ jornada.tipoDeJornadaLaboral.nombre }}</td>
            <td>{{ jornada.fecha }}</td>
            <td>{{ jornada.horaEntrada }}</td>
            <td>{{ jornada.horaSalida }}</td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="onEliminarClick(jornada.id)"
              >
                Eliminar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="onEditarClick(jornada)"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

<app-editor-hora-modal></app-editor-hora-modal>
